div.bsp-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.bsp_milestone-field {
  width: 238px;
}
div.bsp_milestone-field > button.bsp_milestone-update {
  position: absolute;
  right: 0;
  top: calc(50%-16px);
  font-size: inherit;
}
div.bsp-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
div.bsp-row.--spacing {
  column-gap: 1em;
}
div.bsp-input-follower {
  white-space: nowrap;
  padding-left: 1em;
}
div.bsp-input-follower label {
  white-space: nowrap;
}
input.bsp-dateInput {
  width: 10em;
}
ul.bsp-plain-list {
  padding-left: 16px;
}
ul.bsp-plain-list li {
  list-style: none;
}
.bsp-selected-milestone {
  font-weight: bold;
}
.modal--default.-medium.bsp-milestone-large-form {
  height: 450px;
}
div.bsp-submitting-message {
  padding: 6px 0;
}
