div.bsp_milestone-field {
  width: 238px;
}
div.bsp_milestone-field > .bsp_milestone-update {
  position: absolute;
  right: 0;
  top: calc(50%-16px);
  font-size: inherit;
}
.bsp-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bsp-modal-content {
  flex-grow: 1;
  flex-shrink: 1;
}
.bsp-tabpanel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.bsp-tabpanel-tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bsp-tabpanel-tabs-tab {
  padding: 1em 2em;
  margin-bottom: 1px;
  border: 0 none;
  background-color: transparent;
}
.bsp-tabpanel-tabs-tab.selected {
  background-color: white;
}
.bsp-tabpanel-body {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
}

.bsp-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bsp-row.--spacing {
  column-gap: 1em;
}
.bsp-input-follower {
  white-space: nowrap;
  padding-left: 1em;
}
.bsp-input-follower label {
  white-space: nowrap;
}
.bsp-dateInput {
  width: 10em;
}
.bsp-plain-list {
  padding-left: 16px;
}
.bsp-plain-list li {
  list-style: none;
}
.bsp-selected-milestone {
  font-weight: bold;
}
.modal--default.-medium.bsp-milestone-large-form {
  height: 450px;
}
.bsp-submitting-message {
  padding: 6px 0;
}
